* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(img/waiter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bar {
  width: 20px;
  height: 30px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
}
  
  
  
  
  
  
  
  